section {
  position: relative;
}

.homePage__img .swiper-button-prev,
.homePage__img .swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 100px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.homePage__img .swiper-button-prev {
  border-bottom-right-radius: 140px;
  border-top-right-radius: 140px;
  margin-left: -10px;
}

.homePage__img .swiper-button-next {
  border-bottom-left-radius: 140px;
  border-top-left-radius: 140px;
  margin-right: -10px;
}

.homePage__img .swiper-button-prev::after,
.homePage__img .swiper-button-next::after {
  font-size: 20px;
  font-weight: 900;
}
