.partners {
  margin-bottom: 70px;
}

.partnerInfo{
  height: 200px;
}

.partners h2 {
  margin-left: 100px;
  margin-bottom: 50px;
}

.partnerInfo div img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
}

.partnerInfo p {
  width: 248px;
  height: 46px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #010162;
}

.partners-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 200px;
}


.partnerInfo .swiper-button-prev,
.partnerInfo .swiper-button-next {
  position: absolute;
  transform: translateY(-50%);
  width: 30px;
  height: 60px;
  background: rgba(0, 0, 0, 0.306);
  color: #000;
}

.partnerInfo .swiper-button-prev {
  border-bottom-right-radius: 140px;
  border-top-right-radius: 140px;
  margin-left: -10px;
  padding-left: -15px;
}

.partnerInfo .swiper-button-next {
  border-bottom-left-radius: 140px;
  border-top-left-radius: 140px;
  margin-right: -10px;
  padding-right: 5px;
}

.partnerInfo .swiper-button-prev::after,
.partnerInfo .swiper-button-next::after {
  font-size: 15px;
  font-weight: 900;
}
