
.partnerInfo span img{
    display: flex;
    
    justify-content: center;
    align-items:center;
    width: 120px;
    

}



.partnerInfo h3 {
    font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    font-family: 'Roboto';
        color: #010162;
}

.partnerInfo .swiper-button-prev,
.partnerInfo .swiper-button-next {


    position: absolute;
    width: 60px;
    height: 60px;

    background: #F3F3F3;

    margin: -90px -20px;
    color: rgb(50, 47, 47);
}

.partnerInfo .swiper-button-prev {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.partnerInfo .swiper-button-next {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.partnerInfo .swiper-button-prev::after,
.partnerInfo .swiper-button-prev::before,
.partnerInfo .swiper-button-next::after,
.partnerInfo .swiper-button-next::before {
    width: 20px !important;
    font-size: 20px;
    font-weight: 900;
}