header {
  position: relative;
  width: 100%;
  background: #003b48;
  padding: 10px;
  box-sizing: border-box;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.h-item p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.middle {
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.right-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-item:nth-child(3) svg {
  width: 10px;
  height: 10px;
}

/* MEDIA QUARIES */
@media screen and (max-width: 768px) {
  .middle{
    display: none;
  }
}
/* MEDIA QUARIES */
