nav{
    width: 100%;
    color: #003b48;
    padding: 10px 20px;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}