.comfort{
}

.comfort h2 {
  margin-left: 100px;
  margin-bottom: 20px;
}

.superiorityInfo{
}

.superiorityInfo .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 100px !important;
  height: 100px !important;
  margin: 0 auto;
  border: 1px dashed #000;
  border-radius: 50%;
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.07);
  padding: 10px;
  box-sizing: content-box;
}

.comfort-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 200px;
    text-align: center;
}

.superiorityInfo .swiper-button-prev,
.superiorityInfo .swiper-button-next {
  position: absolute;
  transform: translateY(-50%);
  width: 30px;
  height: 60px;
  background: rgba(0, 0, 0, 0.306);
  color: #000;
}

.superiorityInfo .swiper-button-prev {
  border-bottom-right-radius: 140px;
  border-top-right-radius: 140px;
  margin-left: -10px;
  padding-left: -15px;
}

.superiorityInfo .swiper-button-next {
  border-bottom-left-radius: 140px;
  border-top-left-radius: 140px;
  margin-right: -10px;
  padding-right: 5px;
}

.superiorityInfo .swiper-button-prev::after,
.superiorityInfo .swiper-button-next::after {
  font-size: 15px;
  font-weight: 900;
}
