.Reserch-info {
  margin-bottom: 50px;
}

.Reserch-info h2 {
  margin-left: 100px;
  margin-bottom: 20px;
}

.reserchImg img {
  width: 350px;
  height: 180px;
  border-radius: 10px;
}

.Reserch-info .swiper-button-prev,
.Reserch-info .swiper-button-next {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  width: 30px;
  height: 60px;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

.Reserch-info .swiper-button-prev {
  border-bottom-right-radius: 140px;
  border-top-right-radius: 140px;
  margin-left: -10px;
  padding-left: -15px;
}

.Reserch-info .swiper-button-next {
  border-bottom-left-radius: 140px;
  border-top-left-radius: 140px;
  margin-right: -10px;
  padding-right: 5px;
}


.Reserch-info .swiper-button-prev::after,
.Reserch-info .swiper-button-next::after {
  font-size: 15px;
  font-weight: 900;
}
